<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prg.xformbuilder.xformbuilder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FormActivity"
            android:label="@string/title_activity_form"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".FormResponseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_form_response"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/MyTheme">

        </activity>
        <activity
            android:name=".DraftFormActivity"
            android:label="@string/title_activity_draft_form"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload" >

        </activity>
    </application>

</manifest>
