<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prg.xformbuilder.xformbuilder"
    android:versionName="1.0.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.prg.xformbuilder.xformbuilder.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.prg.xformbuilder.xformbuilder.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.onesignal.NotificationOpenedActivity" />

        <receiver
            android:name=".BackgroundDataBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.onesignal.BackgroundBroadcast.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.prg.xformbuilder.xformbuilder" />
            </intent-filter>
        </receiver>

        <service android:name="com.onesignal.GcmIntentService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".FormActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_form"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".FormResponseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_form_response"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".DraftFormActivity"
            android:label="@string/title_activity_draft_form"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewFileActivity"
            android:label="@string/title_activity_view_file"
            android:theme="@style/MyTheme" >
        </activity>
    </application>

</manifest>
